@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins,  sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

/* Hero */

#hero {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}

#hero nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: rgb(250, 250, 250);
    z-index: 1;
}

#hero nav ul {
    display: flex;
    gap: 24px;
    padding-right: 24px;
    transition: all 0.5s ease-in-out;
}

#hero .logo {
    padding-left: 24px;
}

#hero .content {
    padding-top: 200px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero .content h1 {
    font-size: 50px;
}

hr {
    width: 75px;
}

.desc {
    margin-bottom: 45px;
    color: rgb(130, 130, 135);
}

.btn-hello {
    padding: 12px;
    border-radius: 20px;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    text-decoration: none;
}

.second {
    display: flex;
    align-items: center;
    gap: 10px;
}

#hero .container {
    display: flex;
    width: 100%;
}

.container li {
    list-style-type: none;
}

.container nav ul li a {
    text-decoration: none;
    color: rgb(4, 7, 3);
    font-weight: 500;
}

.container nav .logo a {
    text-decoration: none;
    color: rgb(4, 7, 3);
}

#hero .hamburger {
    display: none;
    cursor: pointer;
    padding-right: 24px;
}

#hero .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(4, 7, 3);
    transition: all 0.3s ease-in-out;
}


/* About */

#about {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#about .container {
    text-align: center;
}

#about .desc {
    margin-bottom: 60px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#about .about {
    width: 40%;
    text-align:justify;
}

#about .items {
    display: flex;
    gap: 10px;
}

#about .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 125px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
}

#about .items .item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

#about .items .item .item-icon {
    width: 24px;
    margin-bottom: 16px;
    color: rgb(4, 7, 3);
}

#about .card-desc {
    color: rgb(130, 130, 135);
    font-size: 12px;
    padding-top: 6px;
}

#about .card-text {
    font-weight: 600;
    color: rgb(4, 7, 3);
}

/* Skills */

#skills {
    width: 100%;
    height: 60vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#skills .container {
    text-align: center;
    width: 100%;
}

#skills .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#skills .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#skills .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

/* Services */
#services {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#services .container {
    text-align: center;
}

#services .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#services .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items:flex-end;
    transition: all 0.3s ease-in-out;
}

#services .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

footer {
    background-color: white;
    width: 100%;
    height: 50vh;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 32px;
}

footer ul {
    list-style: none;
}

footer .footnav li a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(4, 7, 3);
}

footer h1 {
    margin: 32px 0px;
}

footer .media li {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {

    #hero .content {
        padding-top: 300px;
    }

    #hero nav ul{
        flex-direction: column;
        position: fixed;
        top: 60px;
        text-align: center;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.9);
        backdrop-filter: blur(8px);
        padding: 24px 0px;
        right: -100%;
    }

    #hero nav ul.active {
        right: 0;
    }

    #hero nav ul li {
        padding: 12px 0px;
    }

    #hero .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #hero .content img {
        display: none;
    }

    #about .content {
        flex-direction: column;
        gap: 25px;
    }

    #about .about {
        width: 75%;
    }

    #about .items {
        flex-direction: column;
        align-items: center;
    }

    #about .profile img {
        display: none;
    }

    #about .items .item {
        width: 75%;
    }

    #about .desc {
        margin-bottom: 32px;
    }

    #about .about {
        text-align: center;
    }
    
    #skills {
        height: 100vh;
    }

    #skills .cards {
        flex-direction: column;
        align-items: center;
    }

    #skills .cards .card {
        width: 50%;
    }

    #services {
        height: 150vh;
    }

    #services .cards {
        flex-direction: column;
        align-items: center;
    }
    
    #services .cards .card {
        width: 50%;
    }

}