@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.desc {
    color: rgb(130, 130, 135);
}

/* Hero */

#hero {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}

#hero nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: rgb(250, 250, 250);
    z-index: 1;
}

#hero nav ul {
    display: flex;
    gap: 24px;
    padding-right: 24px;
    transition: all 0.5s ease-in-out;
}

#hero .logo {
    padding-left: 24px;
}

#hero .content {
    padding-top: 200px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero .content h1 {
    font-size: 50px;
}

hr {
    width: 75px;
}

#hero .desc,.title .desc {
    margin-bottom: 45px;
}

.btn-hello {
    padding: 12px;
    border-radius: 20px;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    text-decoration: none;
}

.second {
    display: flex;
    align-items: center;
    gap: 10px;
}

#hero .container {
    display: flex;
    width: 100%;
}

.container li {
    list-style-type: none;
}

.container nav ul li a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
    /* background-color: black;
    padding: 8px 16px;
    border-radius: 24px; */
}

.container nav .logo a {
    text-decoration: none;
    color: rgb(4, 7, 3);
}

#hero .hamburger {
    display: none;
    cursor: pointer;
    padding-right: 24px;
}

#hero .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(4, 7, 3);
    transition: all 0.3s ease-in-out;
}

#hero .scroll {
    position: absolute;
    bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.scroll p {
    color: rgb(4, 7, 3);
    text-decoration: none;
}

/* About */

#about {
    width: 100%;
    height: 75vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#about .container {
    text-align: center;
}

#about .desc {
    margin-bottom: 60px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#about .about {
    width: 40%;
    text-align: justify;
}

#about .items {
    display: flex;
    gap: 10px;
}

#about .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 125px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
}

#about .items .item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

#about .items .item .item-icon {
    width: 24px;
    margin-bottom: 16px;
    color: rgb(4, 7, 3);
}

#about .card-desc {
    color: rgb(130, 130, 135);
    font-size: 12px;
    padding-top: 6px;
}

#about .card-text {
    font-weight: 600;
    color: rgb(4, 7, 3);
}

/* Skills */

#skills {
    width: 100%;
    height: 65vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#skills .container {
    text-align: center;
    width: 100%;
}

#skills .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#skills .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
}

#skills .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

#skills .skills {
    display: flex;
    gap: 24px;
}

#skills .skills .desc {
    margin-bottom: 12px;
    text-align: left;
    padding-left: 28px;
}

#skills .card h1 {
    font-size: 16px;
}

#skills .title {
    margin: 24px 0px;
}

#skills .skill h1 {
    font-size: 16px;
}

#skills .skill p {
    font-size: 12px;
}

#skills .skill-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

#skills .skill-title img {
    width: 20px;
}

/* Services */
#services {
    width: 100%;
    height: 70vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#services .container .title {
    text-align: center;
}

#services .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#services .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

#services .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

#services .cards .card img {
    width: 36px;
}

#services .cards .card .service {
    display: flex;
    gap: 24px;
    padding: 0px 0px 36px 36px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

/* Portfolio */
#portfolio {
    width: 100%;
    height: 70vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#portfolio .container .title {
    text-align: center;
}

#portfolio .cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#portfolio .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

#portfolio .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}


/* Contact */
#contact {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: rgb(250, 250, 250);
}

#contact .container {
    display: flex;
    justify-content: center;
    gap: 125px;
    /* text-align: center; */
}

#contact .container .title {
    margin-bottom: 32px;
    text-align: center;
}

#contact .card img {
    width: 28px;
    height: 28px;
    margin-bottom: 12px;
}

#contact .cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

#contact .cards .card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 250px;
    height: 125px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

#contact .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contact h1, .contact p {
    font-size: 14px;
}

#contact .cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1.05);
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact .right {
    width: 25%;
}

#contact .group {
    position: relative;
    margin-bottom: 32px;
}

#contact .group label {
    position: absolute;
    top: -12px;
    left: 20px;
    z-index: 2;
    padding: 2px;
}

#contact .group label:after {
    content: " ";
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: -1;
}

textarea {
    width: 100%;
    height: 125px;
    padding: 12px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-width: 2px;
}

label {
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}

input {
    padding: 12px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    width: 100%;
}

input::placeholder, textarea::placeholder {
    padding-left: 8px;
    color: rgb(150, 150, 150);
    font-weight: 500;
}

#contact button {
    color: rgb(255, 255, 255);
    width: 200px;
}

/* Footer */

footer {
    background-color: white;
    width: 100%;
    height: 50vh;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 32px;
}

footer ul {
    list-style: none;
}

footer .footnav li a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(4, 7, 3);
}

footer h1 {
    margin: 32px 0px;
}

footer .media li {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-bottom: 32px;
}

.goTop {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: fixed;
    bottom: 16px;
    right: 32px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.goTop img {
    width: 25px;
}

.goTop.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.btn-hold {
    display: flex;
}

.btn-hold button {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {

    #hero .content {
        padding-top: 300px;
    }

    #hero nav ul {
        flex-direction: column;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-color: rgba(250, 250, 250, 0.9);
        backdrop-filter: blur(8px);
        padding: 24px 0px;
        top: -200vh;
    }

    #hero nav ul.active {
        top: 60px;
    }

    #hero nav ul li {
        padding: 36px 0px;
    }

    #hero .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #hero .profile img {
        display: none;
    }

    #about {
        height: 95vh;
    }

    #about .content {
        flex-direction: column;
        gap: 25px;
    }

    #about .about {
        width: 75%;
    }

    #about .items {
        flex-direction: column;
        align-items: center;
    }

    #about .profile img {
        display: none;
    }

    #about .items .item {
        width: 75%;
    }

    #about .desc {
        margin-bottom: 32px;
    }

    #about .about {
        text-align: center;
    }

    #skills {
        height: 85vh;
    }

    #skills .cards {
        flex-direction: column;
        align-items: center;
    }

    #skills .cards .card {
        width: 80%;
    }

    #services {
        height: 135vh;
    }

    #services .cards {
        flex-direction: column;
        align-items: center;
    }

    #services .cards .card {
        width: 50%;
    }

    #portfolio {
        height: 115vh;
    }

    #portfolio .cards {
        flex-direction: column;
        align-items: center;
    }

    #portfolio .cards .card {
        width: 75%;
        height: 250px;
    }
    
    #contact {
        height: 135vh;
    }

    #contact .cards {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #contact .container {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    #contact .right {
        width: 100%;
    }

    #contact .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #contact form {
        text-align: center;
    }

    #contact input, textarea {
        width: 75%;
    }

    #contact .group label {
        left: 56px;
    }

    footer {
        height: 40vh;
    }

    .btn-hold {
        justify-content: center;
    }

}
